@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* font-family: 'Inter', sans-serif; 
font-family: 'Lexend Deca', sans-serif; */
:root {
    --heading-font: 'Inter', sans-serif;
    --sub-font: 'Lexend Deca', sans-serif;

    --main-bg: hsl(233, 47%, 7%);
    --card-bg: hsl(244, 38%, 16%);
    --accent-color: rgb(170, 92, 219);

    --main-n-stats: hsl(0, 0%, 100%);
    --para: hsla(0, 0%, 100%, 0.75);
    --stat-head: hsla(0, 0%, 100%, 0.6);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: var(--main-bg);
    font-family: var(--heading-font);
    color: #fff;
}


.container
{
    background-color: var(--card-bg);
    color: var(--main-n-stats);
    max-width:345px;
    margin: 30px auto;
    /* display: flex;
    flex-direction: column-reverse; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    border-radius: 7px;
}



.hero-img
{
    width: 100%;
    height: 100%;
    object-fit:cover;
    mix-blend-mode: multiply;
    opacity: 0.8;
    border-radius: 7px 7px 0 0;
 
}

.image-component
{
    
   background-color: var(--accent-color);

}

/* .image-component::before
{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    opacity: .25;
}
.image-component::after
{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--accent-color);
    opacity: .45;
} */


.heading, 
.heading-text,
.stat-box
{
    text-align: center;
}
.text-component
{
    padding: 16px 16px 0;
    grid-row: 2/-1;
}



/* Heading */

.heading
{
    font-size: 30px;
    margin: 24px 0;
    font-weight: 700;
}
.heading>span
{
   color: var(--accent-color);
}

.heading-text
{
   font-family: var(--sub-font);
   font-size: 16px;
   color: var(--para);
   margin:0 0 24px;
   padding: 0 12px;
   line-height: 1.7;
}

/* Stats Section */

.align
{
    margin: 32px 0 36px;
}

.stats
{ 
    
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: 700;
}

.stat-titles
{
    font-family: var(--sub-font);
    text-transform: uppercase;
    font-size: 12px;
    color:  var(--stat-head);
    letter-spacing: 2px;
}

/* Footer Section */ 
footer
{
    display: flex;
    justify-content: center;
    font-size:14px ;
}

.attribution a, .attribution span
{
    color: var(--accent-color);
}


/* .align:last-child>p:last-child
{
    margin-bottom: 0;
} */

@media screen and (min-width:980px)
{
     
    .container
    {
        max-width: 950px;
        margin: 10em auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 5px;
        
    }
    .text-component
    {
        
        padding: 32px;
        grid-row:1/-1;
        
    }
    .heading, .heading-text
    {
        text-align: start;
        padding: 0 32px;
    }

    .stat-box
    {
        display: flex;
        justify-content: space-around;
    }
    .hero-img
    {
        border-radius: 0 7px 7px 0;     
    }

    footer
    {
        transform: translateY(-40px);
    }


}


